@import "abstracts/variables";

.nav-tab {
  display: flex;
  justify-content: center;
  &__label {
    font-size: 18px;
    color: $main-color;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
    }
    &--active {
      font-weight: 600;
    }
  }
  &__icon {
    margin: 0 10px;
    display: flex;
    align-items: center;
    fa-icon {
      color: $main-color;
      font-size: 14px;
    }
  }
}
