@import "abstracts/variables";

.nav-tab {
  display: flex;
  justify-content: center;
  padding: 8px 15px;
  margin-right: 5px;
  background-color: $main-color-with-opacity;
  border-radius: 20px;
  opacity: 0.5;
  &--active {
    font-weight: 600;
    background-color: $main-color;
    opacity: 1;
    .nav-tab {
      &__label {
        cursor: inherit;
      }
    }
  }
  &__label {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
    }
  }
  &__icon {
    margin: 0 10px;
    display: flex;
    align-items: center;
    fa-icon {
      font-size: 14px;
    }
  }
}
