$main-color: #006393;
$main-color-with-opacity: rgba(0, 99, 147, 0.8);
$success-color: #25b396;
$error-color: #c51015;
$warning-color: #f1a104;
$main-font-family: "Montserrat", sans-serif;
$font-color: #495057;
$font-secondary-color: #6c757d;
