@import "abstracts/variables";

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color-with-opacity;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  &__left {
    margin-right: auto;
  }
  &__right {
    margin-left: auto;
  }
}
