<app-header>
  <app-sidebar navigation>
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    <div content>
      <app-logged-user-info
        [loggedUser]="{
          name: 'Zsolt Peter',
          profilePictureUrl:
            '../../../assets/images/dummy-profile-pic-300x300-1.png'
        }"
      ></app-logged-user-info>
      <app-main-navigation [navLinks]="routes$ | async"></app-main-navigation>
    </div>
  </app-sidebar>
  <app-sidebar settings [position]="'right'">
    <fa-icon [icon]="['fas', 'bell']"></fa-icon>
    <div content>Notifications</div>
  </app-sidebar>
</app-header>
<main class="main">
  <router-outlet></router-outlet>
</main>
