@import "abstracts/variables";

.logged-user {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  &__profile-picture {
    position: relative;
    height: 100%;
    width: 60px;
    margin-right: 10px;
    border: 2px solid $main-color;
    border-radius: 50%;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  &__name {
    font-weight: 600;
  }
}
