<div class="person-card">
  <div class="person-card__group">
    <div class="person-card__group-title">Name</div>
    <div class="person-card__group-desc">{{ vehicle.name }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Model</div>
    <div class="person-card__group-desc">{{ vehicle.model }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Length</div>
    <div class="person-card__group-desc">{{ vehicle.length }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Created</div>
    <div class="person-card__group-desc">{{ vehicle.created }}</div>
  </div>
</div>
