@import "abstracts/variables";

.person-card {
  // font-family: $main-font-family;
  &__group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  &__group-title {
    font-size: 18px;
    line-height: 1.5rem;
    font-weight: bold;
  }

  &__group-desc {
    font-size: 16px;
    line-height: 1.5rem;
  }
}
