<div class="person-card">
  <div class="person-card__group">
    <div class="person-card__group-title">Name</div>
    <div class="person-card__group-desc">{{ person.name }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Gender</div>
    <div class="person-card__group-desc">{{ person.gender }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Weight</div>
    <div class="person-card__group-desc">{{ person.mass }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Height</div>
    <div class="person-card__group-desc">{{ person.height }}</div>
  </div>
</div>
