@import "abstracts/variables";

.counter {
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #25b396;
  position: absolute;
  top: -4px;
  right: 4px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
