<div class="person-card">
  <div class="person-card__group">
    <div class="person-card__group-title">Director / UUID</div>
    <div class="person-card__group-desc">{{ movie.director }} / {{ movie.uuid }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Producer</div>
    <div class="person-card__group-desc">{{ movie.producer }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Weight</div>
    <div class="person-card__group-desc">{{ movie.title }}</div>
  </div>
  <div class="person-card__group">
    <div class="person-card__group-title">Release date</div>
    <div class="person-card__group-desc">{{ movie.release_date }}</div>
  </div>
</div>
