<app-header
  appOverflowRemover
  [hasOpenedSidebar]="(activeSidebarName$ | async) !== null"
>
  <app-sidebar
    navigation
    [sidebarIdentifier]="'navigation'"
    [forceOpen]="(activeSidebarName$ | async) === 'navigation'"
    appKeydownWatcher
    [keys]="[appKeyCombinations.navigation]"
    [shouldForceOpen]="openedByKeyboard$ | async"
    (keyDown)="onKeydown($event)"
    (sidebarHidden)="onSidebarHidden()"
    (sidebarOpen)="onSidebarOpen($event)"
  >
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    <div content>
      <app-logged-user-info
        [loggedUser]="{
          name: 'Zsolt Peter',
          profilePictureUrl:
            '../../../assets/images/dummy-profile-pic-300x300-1.png'
        }"
      ></app-logged-user-info>
      <app-main-navigation [navLinks]="routes$ | async"></app-main-navigation>
    </div>
  </app-sidebar>
  <app-sidebar
    settings
    [sidebarIdentifier]="'mail'"
    [position]="'right'"
    [forceOpen]="(activeSidebarName$ | async) === 'mail'"
    appKeydownWatcher
    [keys]="[appKeyCombinations.mail]"
    [shouldForceOpen]="openedByKeyboard$ | async"
    (keyDown)="onKeydown($event)"
    (sidebarHidden)="onSidebarHidden()"
    (sidebarOpen)="onSidebarOpen($event)"
  >
    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
    <app-counter [count]="emailsCount$ | async"></app-counter>
    <div content>
      <h4 class="sidebar sidebar__title">Emails</h4>
      <app-email
        *ngFor="let email of emails$ | async"
        [email]="email"
      ></app-email>
    </div>
  </app-sidebar>
  <app-sidebar
    settings
    [sidebarIdentifier]="'notifications'"
    [position]="'right'"
    [forceOpen]="(activeSidebarName$ | async) === 'notifications'"
    appKeydownWatcher
    [keys]="[appKeyCombinations.notifications]"
    [shouldForceOpen]="openedByKeyboard$ | async"
    (keyDown)="onKeydown($event)"
    (sidebarHidden)="onSidebarHidden()"
    (sidebarOpen)="onSidebarOpen($event)"
  >
    <fa-icon [icon]="['fas', 'bell']"></fa-icon>
    <app-counter [count]="notificationsCount$ | async"></app-counter>
    <div content>
      <h4 class="sidebar sidebar__title">Notifications</h4>
      <app-notification
        *ngFor="let notification of notifications$ | async"
        [notification]="notification"
      ></app-notification>
    </div>
  </app-sidebar>
</app-header>
<main class="main">
  <app-tabs></app-tabs>
  <router-outlet></router-outlet>
</main>
